language: php

php:
  - 5.4
  - 5.5

before_script:
  - COMPOSER_ROOT_VERSION=dev-master composer install --dev

before_install:
  - sudo apt-get install -qq php5-gd
  - sudo apt-get install -qq php5-imagick
  - sudo apt-get install -qq libgraphicsmagick1-dev
  - printf "\n" | pecl install -f gmagick-1.1.7RC2

script: phpunit -c tests/
